flask
gunicorn
requests
colorama==0.4.4
coloredlogs==14.0
imageio==2.9.0
#numpy==1.19.2
#opencv-python==4.4.0.44
opencv-contrib-python-headless
pillow==8.0.0
requests==2.24.0
rsa==4.6
watchdog==0.10.3
imageio-ffmpeg==0.4.2
verboselogs==1.7
#torch==1.12.0+cpu
#torchvision==0.13.0+cpu
https://files.pythonhosted.org/packages/a8/54/af39450ee79c9bfe8db0754354cb490a6fd04a44f95c2622b00e019d1606/torch-1.12.0-cp310-cp310-manylinux2014_aarch64.whl
