flask
gunicorn
requests
colorama==0.4.4
coloredlogs==14.0
imageio==2.9.0
#numpy==1.19.2
#opencv-python==4.4.0.44
opencv-contrib-python-headless
pillow==8.0.0
requests==2.24.0
rsa==4.6
watchdog==0.10.3
imageio-ffmpeg==0.4.2
verboselogs==1.7
#torch==1.12.0+cpu
#torchvision==0.13.0+cpu
https://files.pythonhosted.org/packages/c6/d6/81230cb26d5b83cd0d17a7fdf875c62d3dc1c116723c9c75dfe3d65b1a12/torch-1.12.0-cp310-cp310-win_amd64.whl
